doctype etl SYSTEM "http://scriptella.javaforge.com/dtd/etl.dtd"
etl
  properties
    include(href="etl.properties")
  connection#source(driver="$db.name.class", url="$db.name.url", user="$db.name.user", password="$db.name.password", classpath="$db.name.classPath")
  connection#target(driver="$db.name.class", url="$db.name.url", user="$db.name.user", password="$db.name.password", classpath="$db.name.classPath")
  query(connection-id="source")
    | SELECT * FROM person
    script(connection-id="target").
      INSERT INTO people (full_name) VALUES (?firstname || " " || ?lastname);
